/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-VariableFont_wght.ttf');
}
